{% extends "base.html" %}

{% block title %}Account - LOTUS RPG{% endblock %}

{% block content %}
    <h1 class="heading1">Account Info</h1>
    <div class="max-w-md mx-auto mb-8 p-6 bg-opacity-90 bg-gray-900 backdrop-filter backdrop-blur-lg shadow-lg rounded-md">
        <div class="flex justify-end mb-4">
            <a href="{{ url_for('security.logout') }}" 
               class="text-lg text-blue-500 font-semibold hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                Sign Out
            </a>
        </div>
        <div class="media">
            <img class="account-img" src="{{ image_file }}" alt="Profile Picture">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <div class="max-w-md mx-auto p-6 bg-opacity-90 bg-gray-900 backdrop-filter backdrop-blur-lg shadow-lg rounded-md">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="mb-4">
                        {{ form.email.label(class="block text-sm font-medium text-white-700 mb-1") }}
                        {{ form.email(class="w-full px-4 py-2 border rounded-md text-black focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500") }}
                        {% if form.email.errors %}
                            <p class="text-red-500 text-sm mt-1">
                                {{ form.email.errors[0] }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.picture.label(class="block text-sm font-medium text-white-700 mb-1") }}
                        {{ form.picture(class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100") }}
                        {% if form.picture.errors %}
                            <p class="text-red-500 text-sm mt-1">
                                {{ form.picture.errors[0] }}
                            </p>
                        {% endif %}
                    </div>
                </fieldset>
                <div class="mt-4">
                    {{ form.submit(class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}