{% extends "base.html" %}

{% block title %}Account - LOTUS RPG{% endblock %}

{% block content %}
    <h1 class="heading1">Account</h1>
    <div class="content-section">
        <div class="media">
            <img class="account-img" src="{{ image_file }}" alt="">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- Form Here -->
    </div>
{% endblock %}

