{% extends "base.html" %}

{% block title %}DD10{% endblock %}

{% block content %}
    <h1 class="heading1">Community</h1>
    <div class="container mx-auto px-6 py-16">
        <h1 class="text-3xl font-bold mb-4">Community Forum</h1>
        <p class="mb-8">Welcome to the DD10 Community Forum! Here you can discuss all things DD10 with other players, ask questions, and share your experiences.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- General Discussion -->
            <div>
                <a href="{{ url_for('forum.forums') }}" class="block text-xl font-bold mb-4 text-blue-500 hover:underline">
                    General Discussion
                </a>
                <p class="mb-12">Discuss anything and everything related to DD10 in this forum.</p>
                <hr>
            </div>

            <!-- Rules Questions -->
            <div>
                <a href="#" class="block text-xl font-bold mb-4 text-blue-500 hover:underline">
                    Rules Questions
                </a>
                <p class="mb-12">Have a question about the rules? Ask it here and get answers from other players.</p>
                <hr>
            </div>

            <!-- Character Builds -->
            <div>
                <a href="#" class="block text-xl font-bold mb-4 text-blue-500 hover:underline">
                    Character Builds
                </a>
                <p class="mb-12">Share your character builds, get feedback, and discuss different strategies.</p>
                <hr>
            </div>

            <!-- Events & LARP -->
            <div>
                <a href="#" class="block text-xl font-bold mb-4 text-blue-500 hover:underline">
                    Events & LARP
                </a>
                <p class="mb-12">Find out about upcoming events, LARP sessions, and other community gatherings.</p>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}