{% extends "base.html" %}

{% block title %}DD10{% endblock %}

{% block content %}
    <h1 class="heading1">Community</h1>
    <div class="container mx-auto px-6 py-16">
        <h1 class="text-3xl font-bold mb-4">Community Forum</h1>
        <p class="mb-8">Welcome to the DD10 Community Forum! Here you can discuss all things DD10 with other players, ask questions, and share your experiences.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-xl font-bold mb-4">General Discussion</h2>
                <p>Discuss anything and everything related to DD10 in this forum.</p>
                <a href="{{ url_for('forum.forums') }}" class="block mt-4 mb-8 font-bold text-primary hover:underline">View Forum</a>
                <hr>
            </div>
            <div>
                <h2 class="text-xl font-bold mb-4">Rules Questions</h2>
                <p>Have a question about the rules? Ask it here and get answers from other players.</p>
                <a href="#" class="block mt-4 mb-8 text-primary hover:underline">View Forum</a>
                <hr>
            </div>
            <div>
                <h2 class="text-xl font-bold mb-4">Character Builds</h2>
                <p>Share your character builds, get feedback, and discuss different strategies.</p>
                <a href="#" class="block mt-4 mb-8 text-primary hover:underline">View Forum</a>
                <hr>
            </div>
            <div>
                <h2 class="text-xl font-bold mb-4">Events & LARP</h2>
                <p>Find out about upcoming events, LARP sessions, and other community gatherings.</p>
                <a href="#" class="block mt-4 mb-8 text-primary hover:underline">View Forum</a>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}